extends ../templates/code_preview.pug

block title
	|Spacing Bookmarklet
block head
	style.
		 #javascriptExample{display:none} 
		#headPreview{display:none}

block intro
	p.
		WCAG 2.1 success criteria 1.4.12 states that the content on your page or applications should still be visible after changing the text spacing. 
		This bookmarket will automatically add the text spacing to the page.

block gitHubLink
	p 
		+github('https://gist.github.com/dobe0002/151b69e93a74ce5a087d96d70aee07bb') View code on Github
		
block content
	h2 Description
	p This is simple bookmark will apply the CSS listed at the bottom of this page increasing the text spacing (on most pages).

	p.button-row
		a.btn.btn-secondary#bookmarklet(href="")
			| Text spacing bookmarklet

	+bookmarkInstillation

	


	div#cssExample(data-language="language-css" data-language-label="CSS" style="display:none").
		* { line-height:1.5em !important} /* Line spacing */

		p {margin-bottom:2em !important} /* Paragraph spacing */

		* {letter-spacing: 0.12em !important} /* Letter spacing */

		* {word-spacing: 0.16em !important;} /* Word spacing */
			


	div#javascriptExample(data-language='language-javascript' data-language-label="Javascript").
		


	

	  
 

	
block extraCode
	script.
		getGistFile('151b69e93a74ce5a087d96d70aee07bb','spacing_bookmarklet.js',(code)=>{
			$('#javascriptExample').html(code)
			$('#bookmarklet').attr('href',code)
			setCodeExamples();
			Prism.highlightAll();
		})


	



		