mixin fa(type, extraClasses, title,faType)
    - faType = faType || 'fas'
    - extraClasses = extraClasses || ''
    - t = title || ''
    - var c=faType+' fa-'+type+' '+extraClasses
    i(class= c title= t)

mixin fab(type,extraClasses,title)
    +fa(type,extraClasses,title,'fab')

mixin github(href, extraClasses)
    - extraClasses = extraClasses || ''
    - extraClasses +=" presentationRole"
    a(href= href target="_blank" class= extraClasses)
        block
        | 
        +fab('github',extraClasses,'')

mixin externalLink(href, extraClasses)
    - extraClasses = extraClasses || ''
    a(href= href target="_blank" class= extraClasses)
        block
        | 
        +fa('external-link',extraClasses,'(new window)')


mixin googleLink(href,extraClasses)
     - extraClasses = extraClasses || ''
      a(href= href target="_blank" class= extraClasses)
        block
        | 
        +fab('google-drive',extraClasses,'(Google Doc)')

mixin bookmarkInstillation()
    hr
    h3 Add a bookmarklet
    p To add the bookmarklet to your browser, drag the bookmarklet button above to your bookmark or favorite bar.
    p To activate the bookmarklet on another webpage, just click the bookmarklet in the favorite bar.

    h4 Note about Chrome (keyboard-only instillation)
    p.
        There is a defect in some versions of Chrome that doesn't allow you drag a bookmarklet into the favorite bar. 
        To install a bookmarklet in Chrome:
    ol
        li Copy the javascript code.
        li Under the "Bookmarks" menu, choose "Bookmark Manager".
        li From the organize menu button to the right of the search box, choose "Add new bookmark".
        li Add the bookmark title into the "name" field.
        li Paste the javascript code into the "url" field.